* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

h1 {
  color: white;
}

h1#TopTitle {
  width: 100%;
  position: fixed;
  top: 10px;
  text-align: center;
}

canvas {
  border: 1px solid red;
  border-radius: 4px;
  box-shadow: 0 0 20px red;
}

div.Download {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}

div.Download h3 {
  color: green;
  text-align: center;
  text-decoration: underline;
}
